.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    padding: 10px;
    gap: 10px;
}
.container * {
    background-color: azure;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.container .conn1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
