
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: violet;
    
}
button {
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    position: relative;
    background: transparent;
    color: aqua;
    text-transform: uppercase;
    border: 3px solid green;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 100px;
}
button:hover {
    box-shadow: 15px 15px; 
    color: blue;
    transform:scale(1.5)
} */










/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: violet;
    
}
button {
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    position: relative;
    background: transparent;
    color: aqua;
    text-transform: uppercase;
    border: 3px solid green;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 100px;

}
body:hover {
    color: blue;
    transform: rotate(30deg);
    transition: 0.6s
}  */












/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: violet;
    
}
button {
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    position: relative;
    background: transparent;
    color: aqua;
    text-transform: uppercase;
    border: 3px solid green;
    cursor: pointer;
    transition: 0.5s;}
button:hover {
    box-shadow: 15px 15px; 
    color: blue;
    transform:scale(3.5);
    transition: 2.5s;  
} */













*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: violet;
    
}
button {
    border: none;
    padding: 20px 40px;
    font-size: 40px;
    position: relative;
    background: transparent;
    color: aqua;
    text-transform: uppercase;
    border: 3px solid green;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 100px;
    animation-name: tomrohjijigreh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes tomrohjijigreh {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.75;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
button:hover {
    box-shadow: 15px 15px; 
    color: blue;
    transform:scale(1.5)
}



