
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');/* .header {
    background-color: green;
    color: white;
}
.header a{
    text-decoration: none black;
    color: black;
    font-size: 20px;
    padding: 15px;
    color: white;
    display: inline-block;
}
.header ul {
    display: inline;
    margin: 0;
    padding: 0
}
ul li{
    display: inline-block;
}
ul li:hover{
background-color: #444;
}
.dropdown_hover {
    display: none;
}
.header .dropdown_menu:hover + .dropdown_hover {
    display: flex;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Search{
    outline: none;
    width: 250px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 15px;
}
.check_class{
    display: none;
}
.Search_Button{
    display: none;
}
#check:checked ~ * .Search_Button {
    display: flex;
}
i {
    cursor: pointer;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.username_1{
    outline: none;
    width: 250px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 15px;
}
.check_class_2{
    display: none;
}
.Username{
    display: none;
}
i {
    cursor: pointer;
}



*{
    margin: 10;
    margin-left: 30;
    padding: 0;
    box-sizing: border-box;
}
.password_1{
    outline: none;
    width: 250px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 35px;
    padding: 15px;
}
.check_class_3{
    display: none;
}
.Search_Button{
    display: none;
}
i {
    cursor: pointer;
}





/* .container {

    width: 30%;
    height: 550px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container .item{
    width: 300px;
    height: 300px;
    background-color: wheat;
    padding: 25px;
    text-align: center;
    text-transform: capitalize;
    line-height: 20px;
    padding-top: 5px;
    word-spacing: 4px;
    text-shadow: 5px 5px 3px violet;
    font-family: "Jaro", sans-serif;
 }
 .container .item i{
    color: red;
    font-size: 30px;
 } */
 